.grid{
  height: 250px;
}

#a1 {
  border-bottom: solid black 5px;
  border-right: solid black 5px;
}
#a2 {
  border-left: solid black 5px;
  border-bottom: solid black 5px;
  border-right: solid black 5px;
}
#a3 {
  border-left: solid black 5px;
  border-bottom: solid black 5px;
}
#b1 {
  border-bottom: solid black 5px;
  border-top: solid black 5px;
  border-right: solid black 5px;
}
#b2 {
  border: solid black 5px;
}
#b3 {
  border-bottom: solid black 5px;
  border-top: solid black 5px;
  border-left: solid black 5px;
}
#c1 {
  border-top: solid black 5px;
  border-right: solid black 5px;
}
#c2 {
  border-left: solid black 5px;
  border-top: solid black 5px;
  border-right: solid black 5px;
}
#c3 {
  border-left: solid black 5px;
  border-top: solid black 5px;
}
#title {
  text-align: center;
  font-size: 500%;
}
.1 {
  background-color: red;
}
.x {
  display: none;
}
.o {
  display: none;
}
