.grid{
  height: 250px;
  text-align: center;
  padding-top: 40px;
}
#a1 {
  border-bottom: solid black 5px;
  border-right: solid black 5px;
}
#a2 {
  border-left: solid black 5px;
  border-bottom: solid black 5px;
  border-right: solid black 5px;
}
#a3 {
  border-left: solid black 5px;
  border-bottom: solid black 5px;
}
#b1 {
  border-bottom: solid black 5px;
  border-top: solid black 5px;
  border-right: solid black 5px;
}
#b2 {
  border: solid black 5px;
}
#b3 {
  border-bottom: solid black 5px;
  border-top: solid black 5px;
  border-left: solid black 5px;
}
#c1 {
  border-top: solid black 5px;
  border-right: solid black 5px;
}
#c2 {
  border-left: solid black 5px;
  border-top: solid black 5px;
  border-right: solid black 5px;
}
#c3 {
  border-left: solid black 5px;
  border-top: solid black 5px;
}
#title {
  text-align: center;
  font-size: 500%;
}
#x1 {
  display: none;
}
#o1 {
  display: none;
}
#x2 {
  display: none;
}
#o2 {
  display: none;
}#x3 {
  display: none;
}
#o3 {
  display: none;
}#x4 {
  display: none;
}
#o4 {
  display: none;
}#x5 {
  display: none;
}
#o5 {
  display: none;
}#x6 {
  display: none;
}
#o6 {
  display: none;
}#x7 {
  display: none;
}
#o7 {
  display: none;
}
#x8 {
  display: none;
}
#o8 {
  display: none;
}
#x9 {
  display: none;
}
#o9 {
  display: none;
}
